<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-robot"></i> HR 콘텐츠 자동화
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-home"></i> 대시보드
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">
                        <i class="fas fa-newspaper"></i> 기사 관리
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/drafts">
                        <i class="fas fa-file-alt"></i> 초안 관리
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workflows">
                        <i class="fas fa-project-diagram"></i> 워크플로우
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">
                        <i class="fas fa-chart-line"></i> 통계
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>